*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    place-items: center;
    background: #dde1e7;
    text-align: center;


}
#welcome{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dde1e7;
    height: 350px;
    width: 250px;
    border-radius: 14px;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94,104,121,0.288);
}
#welcome::before{
    position: absolute;
    content: '';
    height: 320px;
    width: 220px;
    background: #dde1e7;
    border-radius: 10px;
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 5px rgba(94,104,121,0.288);
}

#start{
    cursor: pointer;
    position: absolute;
    padding:10px 20px;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    border-radius: 14px;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94,104,121,0.288);
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#main{
    display:none;
}
.buttons{
    position: absolute;
    min-height: 1px;
    justify-items: center;
    left: 50%;
    bottom:0;
    transform: translate(-50%, -50%);}
.btn{
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    color: #fff;
    background: #242A37;
    box-shadow: 12px 8px 21px rgba(4, 4, 4, 0.3), -6px -6px 13px rgba(255, 255, 255, 0.03);
    border-radius: 96px;

}
.btn:hover{
    background-color: #1c4696;
}
