*{
    margin: 0;
    padding: 0;
}
body{
    background: #dde1e7;
    display: flex;
    align-items: center;
    place-items: center;
    text-align: center;


}
#welcome{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dde1e7;
    height: 350px;
    width: 250px;
    border-radius: 14px;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94,104,121,0.288);
}
#welcome::before{
    position: absolute;
    content: '';
    height: 320px;
    width: 220px;
    background: #dde1e7;
    border-radius: 10px;
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 5px rgba(94,104,121,0.288);
}

#start{
    cursor: pointer;
    position: absolute;
    padding:10px 40px;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    border-radius: 14px;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94,104,121,0.288);
    bottom: 30px;
    
}
#main{
    display:none;
}
.buttons{
    position: absolute;
    min-height: 1px;
    justify-items: center;
    left: 50%;
    bottom:10px;
    animation:buttons .5s infinite linear;
    transform: translate(-50%, -50%);}
.btn{
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    padding:10px 15px;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    border-radius: 14px;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94,104,121,0.288);

}
@keyframes buttons {
  0% {bottom: 10px;}
  80% {bottom:20px;}
  100%{bottom:10px;}
}

